*{
    border: none;
    outline-style: none!important;
}

body{
    background-color: #fff;
}

#white:hover{
    background-color: #74ee15;
    color: #fff;
}

#black:hover{
    background-color: #ffe700;
    color: #fff;
}

.C_note{
    color: #111;
    position: absolute;
    padding: 16.125rem 1.525rem 1.125rem 1.125rem;
    z-index: 50;
    background-color: #fff;
    cursor: pointer;
    left: 1.9rem;
    top: 8.90rem; 
    border-style: solid;
    border-color: black;
}

.D_note{
    color: #111;
    position: absolute;
    padding: 16.125rem 1.525rem 1.125rem 1.125rem;
    margin-left: 3.5rem;
    z-index: 51;
    background-color: #fff;
    cursor: pointer;
    left: 2rem;
    top: 8.90rem; 
    border-style: solid;
    border-color: black;
}

.E_note{
    color: #111;
    position: absolute;
    padding: 16.125rem 1.525rem 1.125rem 1.125rem;
    margin-left: 6.94rem;
    z-index: 53;
    background-color: #fff;
    cursor: pointer;
    left: 2.25rem;
    top: 8.90rem;
    border-style: solid;
    border-color: black; 
}

.Cs_note{
    color: #fff;
    position: absolute;
    padding: 11.25rem 0.8rem 1.125rem 1.125rem;
    margin-left: 1.6rem;
    z-index: 52;
    background-color: #111;
    cursor: pointer;
    left: 2.2rem;
    top: 8.90rem; 
    border-radius: 0 0 20px 20px;
} 

.Ds_note{
    color: #fff;
    position: absolute;
    padding: 11.25rem 0.8rem 1.125rem 1.125rem;
    margin-left: 5.6rem;
    z-index: 54;
    background-color: #111;
    cursor: pointer;
    left: 2rem;
    top: 8.90rem; 
    border-radius: 0 0 20px 20px;
}

.F_note{
    color: #111;
    position: absolute;
    padding: 16.125rem 1.525rem 1.125rem 1.125rem;
    margin-left: 10.3rem;
    z-index: 55;
    background-color: #fff;
    cursor: pointer;
    left: 2.4rem;
    top: 8.90rem; 
    border-style: solid;
    border-color: black;
}

.G_note{
    color: #111;
    position: absolute;
    padding: 16.125rem 1.525rem 1.125rem 1.125rem;
    margin-left: 13.7rem;
    z-index: 56;
    background-color: #fff;
    cursor: pointer;
    left: 2.45rem;
    top: 8.90rem; 
    border-style: solid;
    border-color: black;
}

.A_note{
    color: #111;
    position: absolute;
    padding: 16.125rem 1.525rem 1.125rem 1.125rem;
    margin-left: 17.1rem;
    z-index: 58;
    background-color: #fff;
    cursor: pointer;
    left: 2.7rem;
    top: 8.90rem; 
    border-style: solid;
    border-color: black;
}

.B_note{
    color: #111;
    position: absolute;
    padding: 16.125rem 1.525rem 1.125rem 1.125rem;
    margin-left: 20.5rem;
    z-index: 60;
    background-color: #fff;
    cursor: pointer;
    left: 3rem;
    top: 8.90rem; 
    border-style: solid;
    border-color: black;
}

.Fs_note{
    color: #fff;
    position: absolute;
    padding: 11.25rem 0.8rem 1.125rem 1.125rem;
    margin-left: 12.2rem;
    z-index: 57;
    background-color: #111;
    cursor: pointer;
    left: 2.25rem;
    top: 8.90rem; 
    border-radius: 0 0 20px 20px;
}

.Gs_note{
    color: #fff;
    position: absolute;
    padding: 11.25rem 0.8rem 1.125rem 1.125rem;
    margin-left: 16.2rem;
    z-index: 59;
    background-color: #111;
    cursor: pointer;
    left: 2rem;
    top: 8.90rem;
    border-radius: 0 0 20px 20px; 
}

.As_note{
    color: #fff;
    position: absolute;
    padding: 11.25rem 0.8rem 1.125rem 1.125rem;
    margin-left: 20.2rem;
    z-index: 61;
    background-color: #111;
    cursor: pointer;
    left: 1.8rem;
    top: 8.90rem; 
    border-radius: 0 0 20px 20px;
}

/* next step */

.C1_note{
    color: #111;
    position: absolute;
    padding: 16.125rem 1.525rem 1.125rem 1.125rem;
    margin-left: 25.1rem;
    z-index: 60;
    background-color: #fff;
    cursor: pointer;
    left: 1.9rem;
    top: 8.90rem; 
    border-style: solid;
    border-color: black;
}

.D1_note{
    color: #111;
    position: absolute;
    padding: 16.125rem 1.525rem 1.125rem 1.125rem;
    margin-left: 29.14rem;
    z-index: 65;
    background-color: #fff;
    cursor: pointer;
    left: 2rem;
    top: 8.90rem; 
    border-style: solid;
    border-color: black;
}

.E1_note{
    color: #111;
    position: absolute;
    padding: 16.125rem 1.525rem 1.125rem 1.125rem;
    margin-left: 33.0rem;
    z-index: 67;
    background-color: #fff;
    cursor: pointer;
    left: 2.25rem;
    top: 8.90rem; 
    border-style: solid;
    border-color: black;
}

.C1s_note{
    color: #fff;
    position: absolute;
    padding: 11.25rem 0.8rem 1.125rem 1.125rem;
    margin-left: 27.0rem;
    z-index: 69;
    background-color: #111;
    cursor: pointer;
    left: 2.2rem;
    top: 8.90rem; 
    border-radius: 0 0 20px 20px;
} 

.D1s_note{
    color: #fff;
    position: absolute;
    padding: 11.25rem 0.8rem 1.125rem 1.125rem;
    margin-left: 31.5rem;
    z-index: 71;
    background-color: #111;
    cursor: pointer;
    left: 2rem;
    top: 8.90rem; 
    border-radius: 0 0 20px 20px;
}

.F1_note{
    color: #111;
    position: absolute;
    padding: 16.125rem 1.525rem 1.125rem 1.125rem;
    margin-left: 36.9rem;
    z-index: 73;
    background-color: #fff;
    cursor: pointer;
    left: 2.4rem;
    top: 8.90rem; 
    border-style: solid;
    border-color: black;
}

.G1_note{
    color: #111;
    position: absolute;
    padding: 16.125rem 1.525rem 1.125rem 1.125rem;
    margin-left: 40.9rem;
    z-index: 75;
    background-color: #fff;
    cursor: pointer;
    left: 2.45rem;
    top: 8.90rem; 
    border-style: solid;
    border-color: black;
}

.A1_note{
    color: #111;
    position: absolute;
    padding: 16.125rem 1.525rem 1.125rem 1.125rem;
    margin-left: 44.7rem;
    z-index: 77;
    background-color: #fff;
    cursor: pointer;
    left: 2.7rem;
    top: 8.90rem; 
    border-style: solid;
    border-color: black;
}

.B1_note{
    color: #111;
    position: absolute;
    padding: 16.125rem 1.525rem 1.125rem 1.125rem;
    margin-left: 48.2rem;
    z-index: 79;
    background-color: #fff;
    cursor: pointer;
    left: 3rem;
    top: 8.90rem; 
    border-style: solid;
    border-color: black;
}

.F1s_note{
    color: #fff;
    position: absolute;
    padding: 11.25rem 0.8rem 1.125rem 1.125rem;
    margin-left: 39.4rem;
    z-index: 81;
    background-color: #111;
    cursor: pointer;
    left: 2.25rem;
    top: 8.90rem; 
    border-radius: 0 0 20px 20px;
}

.G1s_note{
    color: #fff;
    position: absolute;
    padding: 11.25rem 0.8rem 1.125rem 1.125rem;
    margin-left: 43.6rem;
    z-index: 83;
    background-color: #111;
    cursor: pointer;
    left: 2rem;
    top: 8.90rem;
    border-radius: 0 0 20px 20px; 
}

.A1s_note{
    color: #fff;
    position: absolute;
    padding: 11.25rem 0.8rem 1.125rem 1.125rem;
    margin-left: 47.8rem;
    z-index: 85;
    background-color: #111;
    cursor: pointer;
    left: 1.8rem;
    top: 8.90rem; 
    border-radius: 0 0 20px 20px;
}

/* next step */

.C2_note{
    color: #111;
    position: absolute;
    padding: 16.125rem 1.525rem 1.125rem 1.125rem;
    margin-left: 53.2rem;
    z-index: 87;
    background-color: #fff;
    cursor: pointer;
    left: 1.9rem;
    top: 8.90rem; 
    border-style: solid;
    border-color: black;
}

.D2_note{
    color: #111;
    position: absolute;
    padding: 16.125rem 1.525rem 1.125rem 1.125rem;
    margin-left: 57.2rem;
    z-index: 89;
    background-color: #fff;
    cursor: pointer;
    left: 2rem;
    top: 8.90rem; 
    border-style: solid;
    border-color: black;
}

.E2_note{
    color: #111;
    position: absolute;
    padding: 16.125rem 1.525rem 1.125rem 1.125rem;
    margin-left: 61.1rem;
    z-index: 91;
    background-color: #fff;
    cursor: pointer;
    left: 2.25rem;
    top: 8.90rem; 
    border-style: solid;
    border-color: black;
}

.C2s_note{
    color: #fff;
    position: absolute;
    padding: 11.25rem 0.8rem 1.125rem 1.125rem;
    margin-left: 55.2rem;
    z-index: 93;
    background-color: #111;
    cursor: pointer;
    left: 2.2rem;
    top: 8.90rem; 
    border-radius: 0 0 20px 20px;
} 

.D2s_note{
    color: #fff;
    position: absolute;
    padding: 11.25rem 0.8rem 1.125rem 1.125rem;
    margin-left: 59.5rem;
    z-index: 95;
    background-color: #111;
    cursor: pointer;
    left: 2rem;
    top: 8.90rem; 
    border-radius: 0 0 20px 20px;
}

.F2_note{
    color: #111;
    position: absolute;
    padding: 16.125rem 1.525rem 1.125rem 1.125rem;
    margin-left: 65.0rem;
    z-index: 97;
    background-color: #fff;
    cursor: pointer;
    left: 2.4rem;
    top: 8.90rem; 
    border-style: solid;
    border-color: black;
}

.G2_note{
    color: #111;
    position: absolute;
    padding: 16.125rem 1.525rem 1.125rem 1.125rem;
    margin-left: 69.0rem;
    z-index: 99;
    background-color: #fff;
    cursor: pointer;
    left: 2.45rem;
    top: 8.90rem; 
    border-style: solid;
    border-color: black;
}

.A2_note{
    color: #111;
    position: absolute;
    padding: 16.125rem 1.525rem 1.125rem 1.125rem;
    margin-left: 72.7rem;
    z-index: 101;
    background-color: #fff;
    cursor: pointer;
    left: 2.7rem;
    top: 8.90rem; 
    border-style: solid;
    border-color: black;
}

.B2_note{
    color: #111;
    position: absolute;
    padding: 16.125rem 1.525rem 1.125rem 1.125rem;
    margin-left: 76.5rem;
    z-index: 103;
    background-color: #fff;
    cursor: pointer;
    left: 3rem;
    top: 8.90rem; 
    border-style: solid;
    border-color: black;
}

.F2s_note{
    color: #fff;
    position: absolute;
    padding: 11.25rem 0.8rem 1.125rem 1.125rem;
    margin-left: 67.5rem;
    z-index: 105;
    background-color: #111;
    cursor: pointer;
    left: 2.25rem;
    top: 8.90rem; 
    border-radius: 0 0 20px 20px;
}

.G2s_note{
    color: #fff;
    position: absolute;
    padding: 11.25rem 0.8rem 1.125rem 1.125rem;
    margin-left: 71.8rem;
    z-index: 107;
    background-color: #111;
    cursor: pointer;
    left: 2rem;
    top: 8.90rem;
    border-radius: 0 0 20px 20px; 
}

.A2s_note{
    color: #fff;
    position: absolute;
    padding: 11.25rem 0.8rem 1.125rem 1.125rem;
    margin-left: 76.0rem;
    z-index: 109;
    background-color: #111;
    cursor: pointer;
    left: 1.8rem;
    top: 8.90rem; 
    border-radius: 0 0 20px 20px;
}
