/*fonts*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&display=swap');

* {
  font-family: 'Montserrat', sans-serif;
}

body {
  margin: 0;
}

/*navbar*/
.nav-bar {
    width: 100%;
    display: inline-block;
    background-color: #304058;
    font-weight: 700 !important;
}

.nav-content .logo-touch-target {
    display: inline-block;
    height: 60%;
    width: 350px;
}

.nav-content .nav-logo {
    margin: auto;
}

.nav-logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-logo img {
    width: 200px;
}

.nav-content nav {
    display: block;
    width: 100%;
    text-align: right;
    padding-top: 0px;
    padding-right: 0px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  float: right;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

h1 {
  text-align: center;
}

#scroller-box {
  position: absolute;
  left: 50%;
  width: 200px;
  margin-left: -100px;
  text-align: center;
  display: block;
  font-size: 20px;
  line-height: 1;
  color: #048BA8;
  height: 160px; 
  overflow: hidden;
}

#scroller-content {
  position: absolute;
  width: 200px;
}

#scroller-box span {
  margin: 3px;
}

.typed {
  color: #D9EEF2;
}

#progress-box {
  border: 1px solid rgb(185, 185, 185);
  border-radius: 10px;
  width: 20%;
  height: 20px;
  position: absolute;
  left: 40%;
  top: 280px;
  overflow: hidden;
}

#progress-bar {
  position: absolute;
  background-color: #99C24D;
  width: 0%;
  height: 20px;
}

#piano {
  position: relative;
  display: inline-block;
  height: 130px;
  top: 260px;
  left: 50%;
}

.white {
  border: 1px solid black;
  display: inline-block;
  height: 100%;
  width: 40px;
  position: relative;
  left: -50%;
  border-radius: 3px;
  margin: 0px;
  float: left;
}

#black-keys {
  position: absolute;
  height: 100%;
  left: -50%;
}

.black {
  position: absolute;
  display: inline-block;
  background-color: black;
  height: 60%;
  width: 25px;
  border-radius: 3px;
}

.label {
  position: absolute;
  bottom: 0;
  display: block;
  width: 40px;
  font-size: 20px;
  text-align: center;
  margin-bottom: 5px;
}

#black-keys .label {
  color: white;
  width: 25px;
  font-size: 15px;
}
/* 
.black:nth-child(1) {
  left: 22px;
}

.black:nth-child(2) {
  left: 54px;
}

.black:nth-child(3) {
  left: 118px;
}

.black:nth-child(4) {
  left: 150px;
}

.black:nth-child(5) {
  left: 182px;
} */