{% extends "layout.html" %}
{% block header %}ToneType{% endblock %}
{% block body %}

{% if username == "admin" %}

<h1>Admin</h1>
<form id="admin_form" action="/admin/" method="post" target="_self">
    <h2>Manage Songs</h2>
    <ul>
	{% for song in songs %}
	<li>
	    <p>{{ song }}<input type="checkbox" id="{{ song }}" name="{{ song }}"></p>
	</li>
	{% endfor %}
    </ul>
    <input type="submit" name="del" value="delete selected">

    <h2>Submit New Song</h2>

    <input id="name" name="name" type="text" placeholder="Song name"/>
    
    <textarea id="json" name="json" form="admin_form" placeholder="JSON info"></textarea>
    
    <input type="submit" name="add" value="add new song">
</form>

{% else %}

<p>Please log in as admin.</p>

{% endif %}
{% endblock %}
