{% extends "layout.html" %}
{% block header %}ToneType{% endblock %}
{% block body %}

<a href="/play/Can Can">See what we're up to</a>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Piano!</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k91uXQOfXJCJ4I" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="piano.css">
</head>
<body>
    <center>
        <button id="white" class="C_note">C</button>
        <button id="white" class="D_note">D</button>
        <button id="white" class="E_note">E</button>
        <button id="white" class="Cs_note">C#</button>
        <button id="white" class="Ds_note">D#</button>
        <button id="white" class="F_note">F</button>
        <button id="white" class="G_note">G</button>
        <button id="white" class="A_note">A</button>
        <button id="white" class="B_note">B</button>
        <button id="white" class="Fs_note">F#</button>
        <button id="white" class="Gs_note">G#</button>
        <button id="white" class="As_note">A#</button>
        <!--next set starts here-->
        <button id="white" class="C1_note">C1</button>
        <button id="white" class="D1_note">D1</button>
        <button id="white" class="E1_note">E1</button>
        <button id="white" class="C1s_note">C1#</button>
        <button id="white" class="D1s_note">D1#</button>
        <button id="white" class="F1_note">F1</button>
        <button id="white" class="G1_note">G1</button>
        <button id="white" class="A1_note">A1</button>
        <button id="white" class="B1_note">B1</button>
        <button id="white" class="F1s_note">F1#</button>
        <button id="white" class="G1s_note">G1#</button>
        <button id="white" class="A1s_note">A1#</button>
        <!--next set starts here-->
        <button id="white" class="C2_note">C2</button>
        <button id="white" class="D2_note">D2</button>
        <button id="white" class="E2_note">E2</button>
        <button id="white" class="C2s_note">C2#</button>
        <button id="white" class="D2s_note">D2#</button>
        <button id="white" class="F2_note">F2</button>
        <button id="white" class="G2_note">G2</button>
        <button id="white" class="A2_note">A2</button>
        <button id="white" class="B2_note">B2</button>
        <button id="white" class="F2s_note">F2#</button>
        <button id="white" class="G2s_note">G2#</button>
        <button id="white" class="A2s_note">A2#</button>
    </center>

    <script src="https://cdn.jsdeliver.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF630JCXdXDipiYWBnvT19Y9/TR1w5x1KIEHpNyvvDShgf/" crossorigin="anonymous"></script>

    
</body>

{% endblock %}
