<!DOCTYPE html>
<html lang="en">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<meta property="og:title" content="Personal Portfolio" />
	<meta property="og:description" content="My Personal Portfolio" />
	<meta property="og:url" content="{{ url }}" />

	<link rel="preconnect" href="https://fonts.gstatic.com" />
	<link
		href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
		rel="stylesheet" />

	<link lang="sass" rel="stylesheet" href="/static/styles/main.css" />
	<link rel="icon" href="/static/img/favicon.PNG" type="image/png" />
	<title>{% block header %}{% endblock %}</title>
</head>

<body>
	<header class="nav-bar">
		<div class="nav-content">
			{% if username != "" %}
			<a href="/user/">{{ username }}</a>
			{% else %}
			<ul>
				<li><a href="/user/login/">Login</a></li>
				<li><a href="/user/register/">Register</a></li>
			</ul>
			{% endif %}

			<a href="/">
				<div class="nav-logo">
					<img src="/static/img/tonetypelogo.png" />
				</div>
			</a>
		</div>
	</header>

	<div class="prompt">
		<h2>Well done! You've mastered home row!</h2>
		<h3>Click anywhere to continue to the next module.</h3>
	</div>

	<div class="modules">
		<table>
			<tr>
				<td>
					<div class="module">
						<img src="static/img/symbol1.png" width="25px" height="25px">
						<h3>Home Row</h3>
					</div>

					<div class="song">
						<img src="static/img/symbol1.png" width="25px" height="25px">
						<h4>Ode to Joy</h4>
					</div>

					<div class="song">
						<img src="static/img/symbol1.png" width="25px" height="25px">
						<h4>Linus and Lucy</h4>
					</div>

					<div class="song">
						<img src="static/img/symbol1.png" width="25px" height="25px">
						<h4>Yankee Doodle</h4>
					</div>

					<!---------------------------------------------------------------->

					<div class="module">
						<img src="static/img/symbol2.png" width="25px" height="25px">
						<h3>Top Row</h3>
					</div>

					<div class="song">
						<img src="static/img/symbol2.png" width="25px" height="25px">
						<h4>Can Can</h4>
					</div>

					<div class="song">
						<img src="static/img/symbol2.png" width="25px" height="25px">
						<h4>In the Hall of the Mountain King</h4>
					</div>

					<div class="song">
						<img src="static/img/symbol2.png" width="25px" height="25px">
						<h4>Moonlight Sonata</h4>
					</div>

					<div class="song">
						<img src="static/img/symbol2.png" width="25px" height="25px">
						<h4>Eine Kleine Natchmusik</h4>
					</div>

					<!---------------------------------------------------------------->

					<div class="module">
						<img src="static/img/symbol3.png" width="25px" height="25px">
						<h3>Bottom Row</h3>
					</div>

					<div class="song">
						<img src="static/img/symbol3.png" width="25px" height="25px">
						<h4>Fires of Revolution</h4>
					</div>

				</td>

				<td>
					<div class="song">
						<img src="static/img/symbol3.png" width="25px" height="25px">
						<h4>Canon in D</h4>
					</div>

					<div class="song">
						<img src="static/img/symbol3.png" width="25px" height="25px">
						<h4>Cantina Band</h4>
					</div>

					<!---------------------------------------------------------------->

					<div class="module">
						<img src="static/img/symbol4.png" width="25px" height="25px">
						<h3>Capitalization</h3>
					</div>

					<div class="song">
						<img src="static/img/symbol4.png" width="25px" height="25px">
						<h4>The Entertainer</h4>
					</div>

					<div class="song">
						<img src="static/img/symbol4.png" width="25px" height="25px">
						<h4>The Stars and Stripes Forever</h4>
					</div>

					<!---------------------------------------------------------------->

					<div class="module">
						<img src="static/img/symbol5.png" width="25px" height="25px">
						<h3>Punctuation</h3>
					</div>

					<div class="song">
						<img src="static/img/symbol5.png" width="25px" height="25px">
						<h4>Swan Lake</h4>
					</div>

					<div class="song">
						<img src="static/img/symbol5.png" width="25px" height="25px">
						<h4>Vivaldi's Spring</h4>
					</div>

					<!---------------------------------------------------------------->

					<div class="module">
						<img src="static/img/symbol6.png" width="25px" height="25px">
						<h3>Numbers Pt. 1</h3>
					</div>

					<div class="song">
						<img src="static/img/symbol6.png" width="25px" height="25px">
						<h4>Claire de Lune</h4>
					</div>

					<div class="song">
						<img src="static/img/symbol6.png" width="25px" height="25px">
						<h4>Waltz No. 2</h4>
					</div>
				</td>

				<td>
					<div class="module">
						<img src="static/img/symbol6.png" width="25px" height="25px">
						<h3>Numbers Pt. 2</h3>
					</div>

					<div class="song">
						<img src="static/img/symbol6.png" width="25px" height="25px">
						<h4>Waltz No. 3</h4>
					</div>

					<div class="song">
						<img src="static/img/symbol6.png" width="25px" height="25px">
						<h4>Blue Danube Waltz</h4>
					</div>

					<!---------------------------------------------------------------->

					<div class="module">
						<img src="static/img/symbol7.png" width="25px" height="25px">
						<h3>Symbols and Math</h3>
					</div>

					<div class="song">
						<img src="static/img/symbol7.png" width="25px" height="25px">
						<h4>Heart and Soul</h4>
					</div>

					<div class="song">
						<img src="static/img/symbol7.png" width="25px" height="25px">
						<h4>Anchors Away</h4>
					</div>

					<div class="song">
						<img src="static/img/symbol7.png" width="25px" height="25px">
						<h4>The Liberty Bell</h4>
					</div>

					<!---------------------------------------------------------------->

					<div class="module">
						<img src="static/img/symbol8.png" width="25px" height="25px">
						<h3>All</h3>
					</div>

					<div class="song">
						<img src="static/img/symbol8.png" width="25px" height="25px">
						<h4>Toccata and Fugue</h4>
					</div>

					<div class="song">
						<img src="static/img/symbol8.png" width="25px" height="25px">
						<h4>The Barber of Seville</h4>
					</div>

					<div class="song">
						<img src="static/img/symbol8.png" width="25px" height="25px">
						<h4>Fight of the Bumblebee</h4>
					</div>
				</td>
			</tr>
		</table>
	</div>

	{% block body %}{% endblock %}
</body>

</html>