{% extends "layout.html" %}
{% block header %}ToneType|Play!{% endblock %}
{% block body %}
<div class="prompt">
    <h2>Well done! You've mastered home row!</h2>
    <h3>Click anywhere to continue to the next module.</h3>
</div>

<div class="modules">
    <table>
        <tr>
            <td>
                <div class="module">
                    <img src="../../static/img/symbol1.PNG" width="25px" height="25px">
                    <h3>Home Row</h3>
                </div>

                <div class="song">
                    <img src="../../static/img/symbol1.PNG" width="25px" height="25px">
                    <h4>Ode to Joy</h4>
                </div>

                <div class="song">
                    <img src="../../static/img/symbol1.PNG" width="25px" height="25px">
                    <h4>Linus and Lucy</h4>
                </div>

                <div class="song">
                    <img src="../../static/img/symbol1.PNG" width="25px" height="25px">
                    <h4>Yankee Doodle</h4>
                </div>

                <!---------------------------------------------------------------->

                <div class="module">
                    <img src="../../static/img/symbol2.PNG" width="25px" height="25px">
                    <h3>Top Row</h3>
                </div>

                <div class="song">
                    <img src="../../static/img/symbol2.PNG" width="25px" height="25px">
                    <h4>Can Can</h4>
                </div>

                <div class="song">
                    <img src="../../static/img/symbol2.PNG" width="25px" height="25px">
                    <h4>In the Hall of the Mountain King</h4>
                </div>

                <div class="song">
                    <img src="../../static/img/symbol2.PNG" width="25px" height="25px">
                    <h4>Moonlight Sonata</h4>
                </div>

                <div class="song">
                    <img src="../../static/img/symbol2.PNG" width="25px" height="25px">
                    <h4>Eine Kleine Natchmusik</h4>
                </div>

                <!---------------------------------------------------------------->

                <div class="module">
                    <img src="../../static/img/symbol3.PNG" width="25px" height="25px">
                    <h3>Bottom Row</h3>
                </div>

                <div class="song">
                    <img src="../../static/img/symbol3.PNG" width="25px" height="25px">
                    <h4>Fires of Revolution</h4>
                </div>

            </td>

            <td>
                <div class="song">
                    <img src="../../static/img/symbol3.PNG" width="25px" height="25px">
                    <h4>Canon in D</h4>
                </div>

                <div class="song">
                    <img src="../../static/img/symbol3.PNG" width="25px" height="25px">
                    <h4>Cantina Band</h4>
                </div>

                <!---------------------------------------------------------------->

                <div class="module">
                    <img src="../../static/img/symbol4.PNG" width="25px" height="25px">
                    <h3>Capitalization</h3>
                </div>

                <div class="song">
                    <img src="../../static/img/symbol4.PNG" width="25px" height="25px">
                    <h4>The Entertainer</h4>
                </div>

                <div class="song">
                    <img src="../../static/img/symbol4.PNG" width="25px" height="25px">
                    <h4>The Stars and Stripes Forever</h4>
                </div>

                <!---------------------------------------------------------------->

                <div class="module">
                    <img src="../../static/img/symbol5.PNG" width="25px" height="25px">
                    <h3>Punctuation</h3>
                </div>

                <div class="song">
                    <img src="../../static/img/symbol5.PNG" width="25px" height="25px">
                    <h4>Swan Lake</h4>
                </div>

                <div class="song">
                    <img src="../../static/img/symbol5.PNG" width="25px" height="25px">
                    <h4>Vivaldi's Spring</h4>
                </div>

                <!---------------------------------------------------------------->

                <div class="module">
                    <img src="../../static/img/symbol6.PNG" width="25px" height="25px">
                    <h3>Numbers Pt. 1</h3>
                </div>

                <div class="song">
                    <img src="../../static/img/symbol6.PNG" width="25px" height="25px">
                    <h4>Claire de Lune</h4>
                </div>

                <div class="song">
                    <img src="../../static/img/symbol6.PNG" width="25px" height="25px">
                    <h4>Waltz No. 2</h4>
                </div>
            </td>

            <td>
                <div class="module">
                    <img src="../../static/img/symbol6.PNG" width="25px" height="25px">
                    <h3>Numbers Pt. 2</h3>
                </div>

                <div class="song">
                    <img src="../../static/img/symbol6.PNG" width="25px" height="25px">
                    <h4>Waltz No. 3</h4>
                </div>

                <div class="song">
                    <img src="../../static/img/symbol6.PNG" width="25px" height="25px">
                    <h4>Blue Danube Waltz</h4>
                </div>

                <!---------------------------------------------------------------->

                <div class="module">
                    <img src="../../static/img/symbol7.PNG" width="25px" height="25px">
                    <h3>Symbols and Math</h3>
                </div>

                <div class="song">
                    <img src="../../static/img/symbol7.PNG" width="25px" height="25px">
                    <h4>Heart and Soul</h4>
                </div>

                <div class="song">
                    <img src="../../static/img/symbol7.PNG" width="25px" height="25px">
                    <h4>Anchors Away</h4>
                </div>

                <div class="song">
                    <img src="../../static/img/symbol7.PNG" width="25px" height="25px">
                    <h4>The Liberty Bell</h4>
                </div>

                <!---------------------------------------------------------------->

                <div class="module">
                    <img src="../../static/img/symbol8.PNG" width="25px" height="25px">
                    <h3>All</h3>
                </div>

                <div class="song">
                    <img src="../../static/img/symbol8.PNG" width="25px" height="25px">
                    <h4>Toccata and Fugue</h4>
                </div>

                <div class="song">
                    <img src="../../static/img/symbol8.PNG" width="25px" height="25px">
                    <h4>The Barber of Seville</h4>
                </div>

                <div class="song">
                    <img src="../../static/img/symbol8.PNG" width="25px" height="25px">
                    <h4>Fight of the Bumblebee</h4>
                </div>
            </td>
        </tr>
    </table>
</div>

{% endblock %}