{% extends "layout.html" %}
{% block header %}ToneType|Play!{% endblock %}
{% block body %}
<div class="prompt">
    <h2>Click a song to play it!</h2>
</div>

<div class="modules">
    <table>
        {% for song in songs %}
        <tr>
	    <td>
                <div class="song">
                    <img src="../../static/img/symbol1.PNG" width="25px" height="25px">
                    <a href="/play/{{ song }}">
                        <h4>{{ song }}</h4>
                    </a>
                </div>
	    </td>
	</tr>
        {% endfor %}
    </table>
</div>

{% endblock %}
