{% extends "layout.html" %}
{% block header %}ToneType{% endblock %}
{% block script %}
<script src="/static/mousetrap.min.js"></script>
<script src="../static/index.js"></script>
<link rel="stylesheet" type="text/css" href="../static/styles/piano.css">
{% endblock %}
{% block body %}
<div id="song_name">{{ song_name }}</div>
<center>
    <button id="white" class="C_note">C</button>
    <button id="white" class="D_note">D</button>
    <button id="white" class="E_note">E</button>
    <button id="white" class="Cs_note">C#</button>
    <button id="white" class="Ds_note">D#</button>
    <button id="white" class="F_note">F</button>
    <button id="white" class="G_note">G</button>
    <button id="white" class="A_note">A</button>
    <button id="white" class="B_note">B</button>
    <button id="white" class="Fs_note">F#</button>
    <button id="white" class="Gs_note">G#</button>
    <button id="white" class="As_note">A#</button>
    <!--next set starts here-->
    <button id="white" class="C1_note">C1</button>
    <button id="white" class="D1_note">D1</button>
    <button id="white" class="E1_note">E1</button>
    <button id="white" class="C1s_note">C1#</button>
    <button id="white" class="D1s_note">D1#</button>
    <button id="white" class="F1_note">F1</button>
    <button id="white" class="G1_note">G1</button>
    <button id="white" class="A1_note">A1</button>
    <button id="white" class="B1_note">B1</button>
    <button id="white" class="F1s_note">F1#</button>
    <button id="white" class="G1s_note">G1#</button>
    <button id="white" class="A1s_note">A1#</button>
    <!--next set starts here-->
    <button id="white" class="C2_note">C2</button>
    <button id="white" class="D2_note">D2</button>
    <button id="white" class="E2_note">E2</button>
    <button id="white" class="C2s_note">C2#</button>
    <button id="white" class="D2s_note">D2#</button>
    <button id="white" class="F2_note">F2</button>
    <button id="white" class="G2_note">G2</button>
    <button id="white" class="A2_note">A2</button>
    <button id="white" class="B2_note">B2</button>
    <button id="white" class="F2s_note">F2#</button>
    <button id="white" class="G2s_note">G2#</button>
    <button id="white" class="A2s_note">A2#</button>
</center>

<div id="scroller">

</div>
<div class="piano">

</div>

{% endblock %}
